<app-books-header [leftRef]="leftRef" [rightRef]="rightRef">
  <ng-template #leftRef>
    <div class="header-left-items">
      <button mat-raised-button (click)="onCreate()">Create</button>
      <button mat-raised-button (click)="onGenerate()">Generate</button>
    </div>

  </ng-template>
  <ng-template #rightRef>
    <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
  </ng-template>
</app-books-header>
<app-scrollable-block class="scrollable-block">
  <ng-container *ngIf="books$ | async as books">
    <div *ngIf="books.length > 0" class="books">
      <mat-card class="books__item" *ngFor="let book of books">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ book.name }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions align="end">
          <div class="books__buttons">
            <button (click)="openEdit(book.id)" class="title-small" mat-raised-button>Edit</button>
            <button (click)="onDelete(book.id)" color="primary" class="title-small" mat-raised-button>Delete</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="books.length === 0" class="books__empty">
      There are no content
    </div>
  </ng-container>
</app-scrollable-block>
