<div class="books-create-update-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Book title</mat-label>
    <input matInput [formControl]="formGroup.controls.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Author's first name</mat-label>
    <input matInput [formControl]="formGroup.controls.authorFirstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Author's last name</mat-label>
    <input matInput [formControl]="formGroup.controls.authorLastName">
  </mat-form-field>

  <button mat-raised-button (click)="onSave()">Save</button>
</div>
