@use "../../../../styles/mixins/typography";

.sidebar {
  min-height: 100%;

  &__option {
    display: flex;
    align-items: center;
    gap: 4px;

    @include typography.title-small;
  }

  &__icon,
  &__title,
  &__notifications {
    display: inline-block;
  }

  &__notifications {
    margin-left: auto;
  }
}
