.mat-mdc-card.mat-mdc-card.mat-mdc-card {
  background-color: var(--md-sys-color-surface-container-low);
  border-color: var(--md-sys-color-outline-variant);
  border-radius: 12px;
}

.mat-mdc-card-title {
  color: var(--md-sys-color-on-surface);
}

.mat-mdc-card-subtitle {
  color: var(--md-sys-color-secondary);
}
