@use "../theme/utils";

.mat-mdc-list-item {
  /** Variables */
  --cm-list-item-container-shape: 0;
  --cm-list-item-hover-state-layer-opacity: 0.08;
  --cm-list-item-selected-container-opacity: 0.1;
  --cm-list-item-one-line-container-height: 48px;
  --cm-list-item-background-color: unset;

  /** Colors */
  --mdc-list-list-item-label-text-color: var(--md-sys-color-on-surface-variant);
  --mdc-list-list-item-hover-label-text-color: var(--md-sys-color-on-secondary-container);
  --mdc-list-list-item-hover-state-layer-color: var(--md-sys-color-on-secondary-container);
  --mdc-list-list-item-focus-state-layer-color: var(--md-sys-color-on-secondary-container);
  --mdc-list-list-item-focus-label-text-color: var(--md-sys-color-on-secondary-container);

  /** Sizes */
  --mdc-list-list-item-container-shape: var(--cm-list-item-container-shape);
  --mdc-list-list-item-hover-state-layer-opacity: var(--cm-list-item-hover-state-layer-opacity);
  --mdc-list-list-item-selected-container-opacity: var(--cm-list-item-selected-container-opacity);
  --mdc-list-list-item-one-line-container-height: var(--cm-list-item-one-line-container-height);

  .mat-ripple {
    --_opacity: 0.1;

    opacity: var(--_opacity);
  }

  @media #{utils.$sm} {
    --cm-list-item-container-shape: 28px;
    --cm-list-item-one-line-container-height: 56px;
    --cm-list-item-background-color: var(--md-sys-color-secondary-container);
  }
}

.mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated .mdc-list-item__primary-text {
  color: var(--md-sys-color-on-secondary-container);
}

.mdc-list-item--activated {
  --mdc-list-list-item-container-color: var(--cm-list-item-background-color);
}

.mdc-list-item:hover::before {
  --_color: unset;

  background-color: var(--_color);

  @media #{utils.$sm} {
    --_color: var(--md-sys-color-secondary-container-light);
  }
}
