@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$tablet-breakpoint: 600px;
$laptop-breakpoint: 840px;

:root {
  --md-sys-color-surface-light: #faf9fc;
  --md-sys-color-surface-dark: #121316;

  --md-sys-color-surface-container-light: #eeedf1;
  --md-sys-color-surface-container-dark: #1e2022;

  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-on-surface-dark: #c6c6ca;

  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-on-surface-variant-dark: #c3c6cf;

  --md-sys-color-on-secondary-container-light: #101c2b;
  --md-sys-color-on-secondary-container-dark: #d7e3f8;

  --md-sys-color-secondary-container-light: #d7e3f8;
  --md-sys-color-secondary-container-dark: #3c4858;

  @media(prefers-color-scheme: light) {
    --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
    --md-sys-color-surface: var(--md-sys-color-surface-light);
  }
  @media(prefers-color-scheme: dark) {
    --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.container {
  height: 100%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas: "main" "nav";

  @media(min-width: $tablet-breakpoint) {
    transition: 1s;

    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav main";
  }
  @media(min-width: $laptop-breakpoint) {
    transition: 1s;

    grid-template-columns: 360px 1fr;
  }
}

.main {
  background-color: var(--md-sys-color-surface);
  grid-area: main;
}

.nav {
  grid-area: nav;
  background-color: var(--md-sys-color-surface-container);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;

  &__button {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    &__icon-wrapper {
      --_wrapper-width: 64px;
      --_wrapper-height: 32px;
      width: var(--_wrapper-width);
      height: var(--_wrapper-height);
      border-radius: 16px;

      display: grid;
      place-items: center;

      @media(min-width: $tablet-breakpoint) {
        --_wrapper-width: 56px;
      }
      @media(min-width: $laptop-breakpoint) {
        --_wrapper-width: 24px;
        --_wrapper-height: 24px;
      }
    }

    &__icon {
      color: var(--md-sys-color-on-surface);
    }

    &__text {
      color: var(--md-sys-color-on-surface-variant);
      font-size: 12px;
      line-height: 16px;

      @media(min-width: $laptop-breakpoint) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &:hover &__icon-wrapper {
      transition-duration: 0.25s;
      background-color: var(--md-sys-color-secondary-container);
    }

    &:hover &__icon {
      color: var(--md-sys-color-on-secondary-container);
    }

    &:hover &__text {
      color: var(--md-sys-color-on-surface);
      font-weight: 500;
    }

    @media(min-width: $tablet-breakpoint) {
      padding: 0;
    }
    @media(min-width: $laptop-breakpoint) {
      border-radius: 28px;
      flex-direction: row;
      gap: 12px;
      padding: 18px 24px 18px 16px;

      &:hover {
        background-color: var(--md-sys-color-secondary-container);
      }
    }
  }

  @media(min-width: $tablet-breakpoint) {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  @media(min-width: $laptop-breakpoint) {
    background-color: var(--md-sys-color-surface);
    justify-content: start;
    padding: 12px;
    gap: 0;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
