@forward 'styles/theme';
@use 'styles/mixins/typography';

$tablet-breakpoint: 600px;
$laptop-breakpoint: 840px;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    --columns: 4;
    --offset: 12px;

    display: grid;
    grid-template-columns: var(--offset) repeat(var(--columns), 1fr) var(--offset);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 24px;

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    & > * {
        --_column: var(--column, 2/-2);

        grid-column: var(--_column);
        display: grid;
        grid-template-columns: subgrid;
    }

    @media (min-width: $tablet-breakpoint) {
        --columns: 8;
        --offset: 48px;
    }
    @media (min-width: $laptop-breakpoint) {
        --columns: 12;
        --offset: 96px;
    }
}

.hero-section {
    --column: 1/-1;
    --_text-align: center;

    height: 100dvh;
    box-sizing: border-box;

    background-size: cover;
    background: url(assets/header.png) right;

    &__header {
        grid-column: 1/-1;
        height: 100px;

        display: grid;
        grid-template-columns: subgrid;
    }

    &__wrapper {
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: min-content 1fr;
    }

    &__icon-wrapper {
        --_grid-column: span 1;
        display: grid;
        place-items: center;
        grid-column: var(--_grid-column);
        position: relative;

        height: 100%;
        width: 100%;
    }

    &__nav {
        --_opacity: 0;
        --_column: 3;
        display: none;
        opacity: var(--_opacity);
        grid-column: span var(--_column)/-1;
    }

    &__info {
        --_grid-column: 4;
        height: 100%;
        grid-column: span var(--_grid-column);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__heading {
        color: var(--md-sys-color-on-primary);
        gap: 16px;
    }
    &__title {
        margin: 0;
        @include typography.display-large;
        text-align: var(--_text-align);
    }
    &__supporting-text {
        margin: 0;
        @include typography.headline-large;
        text-align: var(--_text-align);
    }

    @media (min-width: $tablet-breakpoint) {
        &__info {
            --_grid-column: 8
        }
        &__icon-wrapper {
            --_grid-column: span 2;
        }
    }
    @media (min-width: $laptop-breakpoint) {
        &__info {
            --_grid-column: 6
        }
        &__nav {
            --_opacity: 100;
            --_column: 6;
        }
        --_text-align: start;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        color: var(--md-sys-color-on-primary);
        @include typography.title-medium;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    @include typography.body-large;
    color: var(--md-sys-color-on-primary);

    padding: 24px 32px;
    border-radius: 16px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.30);
    background-color: var(--md-sys-color-primary);
}

.logo {
    object-fit: cover;
    width: 100%;
}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.section {
    --_padding: 32px;
    --_offset: 0;
    --_column: max(calc(var(--columns) / 2), 4);
    --_grid-template-rows: 1fr 1fr;
    --_grid-auto-rows: min-content;

    padding-block: var(--_padding);
    grid-column: 2/-2;

    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: row dense;
    grid-row-gap: calc(var(--_padding) / 2);
    align-items: start;

    grid-template-rows: var(--_grid-template-rows);
    grid-auto-rows: var(--_grid-auto-rows);

    &__content {
        grid-column: span var(--_column);

        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__img {
        --_height: calc(1/6);
        position: relative;
        place-self: normal;
        grid-column: span calc(var(--_column) - var(--_offset));
        min-height: 20%;
    }
    &__divider {
        display: none;
    }
    &__title {
        color: var(--md-sys-color-primary);
        @include typography.headline-medium;
    }
    &__text {
        color: var(--md-sys-color-on-surface);
        @include typography.body-large;
    }

    @media (min-width: $tablet-breakpoint) {
        --_grid-template-rows: auto;
        --_grid-auto-rows: auto;
    }

    @media (min-width: $laptop-breakpoint) {
        --_offset: 1;
        --_padding: 64px;
        &__divider {
            display: block;
        }
    }
}

.section-accent-wrapper {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    background-color: var(--md-sys-color-secondary-container);
}

// I'm bad in naming :D
.horizontal-section {
    $this: &;
    --_padding: 32px;
    padding: var(--_padding);

    grid-column: -1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: $tablet-breakpoint) {
        --_padding: 64px;
    }
    @media(min-width: $laptop-breakpoint) {
        --_padding: 96px;
    }

    &__inverse {
        background-color: var(--md-sys-color-inverse-surface);
        #{$this}__text {
            @include typography.headline-small;
            color: var(--md-sys-color-inverse-on-surface);
        }

        @media (min-width: $laptop-breakpoint) {
            #{$this}__text {
                @include typography.display-medium;
            }
        }
    }
    &__main {
        background-color: var(--md-sys-color-surface-variant);
        #{$this}__text {
            @include typography.body-large;
            color: var(--md-sys-color-on-surface-variant);
        }
    }
    &__accent {
        background-color: var(--md-sys-color-primary-container);
        #{$this}__content {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        #{$this}__text {
            color: var(--md-sys-color-on-primary-container);
            &--small {
                @include typography.body-large;
            }
            &--medium {
                @include typography.body-large;
            }
            &--large {
                @include typography.body-large;
            }
        }

        @media (min-width: $tablet-breakpoint) {
            #{$this}__text {
                color: var(--md-sys-color-on-primary-container);
                &--small {
                    @include typography.headline-small;
                }
                &--medium {
                    @include typography.headline-medium;
                }
                &--large {
                    @include typography.headline-large;
                }
            }
        }

        @media (min-width: $laptop-breakpoint) {
            #{$this}__text {
                color: var(--md-sys-color-on-primary-container);
                &--small {
                    @include typography.display-small;
                }
                &--medium {
                    @include typography.display-medium;
                }
                &--large {
                    @include typography.display-large;
                }
            }
        }
    }
    &__button {
        background-color: var(--md-sys-color-inverse-surface);
        display: grid;
        grid-template-columns: subgrid;

        #{$this}__content {
            grid-column: 1/-1;
        }

        @media (min-width: $laptop-breakpoint) {
            #{$this}__content {
                grid-column: 5/-5;
            }
        }
    }
    &__logo {
        #{$this}__content {
            grid-column: 5/-5;
        }
    }
    &__footer {
        background-color: var(--md-sys-color-inverse-surface);

        display: grid;
        grid-template-columns: subgrid;

        #{$this}__content {
            grid-column: 1/-1;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        #{$this}__text {
            @include typography.body-medium;
            color: var(--md-sys-color-inverse-on-surface);
        }

        @media (min-width: $tablet-breakpoint) {
            #{$this}__content {
                grid-column: span 4/-1;
                align-items: start;
            }
        }
    }
}